<!DOCTYPE html>
<html>
<head>
    @RenderSection("head", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*<link rel="icon" href="~/favicon.ico" sizes="32x32" />*@

    <link href="~/Content/kendo/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/kendo/Site.css" rel="stylesheet" />
    <link href="~/Content/kendo/ninja-common.css" rel="stylesheet" />
    <link href="~/Content/kendo/Style.css" rel="stylesheet" />

    <link href="~/Content/kendo/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo/kendo.dataviz.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/kendo/common/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body class="content">
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 text-center info-contact">
                    <img src="@Url.Content("~/Content/kendo/img/ford-logo-go-further-png.png")" class="img-fluid" />

                </div>
                <div class="col-md-4 text-center">
                    <h2>QUẢN TRỊ HỆ THỐNG</h2>
                </div>
                <div class="col-md-4 text-center info-contact">
                    <ul>
                        <li>
                            <b>Kinh doanh</b>
                            <span>0963971189</span>
                        </li>
                        <li>
                            <b>Hỗ trợ kỹ thuật</b>
                            <span>0989799211</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--Menu-->
    @Html.Partial("_Menu")
    <div>
        @RenderBody()
    </div>
    <!--Thông báo-->
    <div>
        @(Html.Kendo().Window()
                        .Name("windowPopup")
                        .Title("Thông báo")
                         .Visible(false)
                         .Draggable()
                        //.Resizable()
                        .Modal(true)
                        .Width(350)
                        //.Actions()
                        .AutoFocus(true)
                        .Content(@<text>
                            <span id="tlAllPopup">
                                Bạn có chắc chắn không?
                            </span>
                            <div id="puBottom">
                                <center>
                                    <button type="button" id="BTN1" class="btn btn-primary">Yes</button> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" id="BTN2" class="btn btn-default">No </button>
                                </center>
                            </div>
                        </text>)
                                .HtmlAttributes(new { @class = "no-buttons" })
        )

    </div>

    <script type="text/javascript">

        function showAlertView(message, titleBTN1, titleBTN2, callBack) {
            document.getElementById("tlAllPopup").innerHTML = message;

            $("#BTN1").hide();
            $("#BTN2").hide();

            if ((titleBTN1 != null) && (titleBTN1.length > 0)) {
                $("#BTN1").show();
                document.getElementById("BTN1").innerHTML = titleBTN1;

            }
            if ((titleBTN2 != null) && (titleBTN2.length > 0)) {
                $("#BTN2").show();
                document.getElementById("BTN2").innerHTML = titleBTN2;
            }


            $("#windowPopup").data("kendoWindow").center().open();
            $("#BTN1").unbind();
            $('#BTN1').click(function () {
                $("#windowPopup").data("kendoWindow").close();
                if (callBack) {
                    callBack(1);
                }

            });

            $('#BTN2').click(function () {
                $("#windowPopup").data("kendoWindow").close();
                if (callBack) {
                    callBack(2);
                }
            });

        }

        // --- Đổi màu cell khi di chuột đến cell

        function moveMouseInCell(Id, gridName) {
            if ((gridName == null) || (gridName === undefined)) {

                grid = "grid";
            }
            gridName = '#' + gridName;

            var gview = $(gridName).data("kendoGrid");
            var data = gview.dataSource.data();
            for (var i = 0; i < data.length; i++) {
                var item1 = data[i];
                if (item1.Id == Id) {
                    $('tr[data-uid="' + item1.uid + '"] ').css("background-color", "orange");
                    $('tr[data-uid="' + item1.uid + '"] ').css("color", "black");

                    break;
                }

            }
        }

        function onMouseOutMove(Id, gridName) {

            if (!gridName) {

                grid = "grid";
            }

            gridName = '#' + gridName;

            var gview = $(gridName).data("kendoGrid");
            var data = gview.dataSource.data();
            for (var i = 0; i < data.length; i++) {
                var item1 = data[i];
                if (item1.Id == Id) {

                    if ((i % 2) == 0) {
                        $('tr[data-uid="' + item1.uid + '"] ').css("background-color", "transparent");
                    }
                    else {

                        $('tr[data-uid="' + item1.uid + '"] ').css("background-color", "#f5f5f5");
                    }

                    changerTextCellColor(gridName, item1);

                    break;
                }

            }
        }


        function changerTextCellColor(gridName, item1) {


            if (gridName == "#grid-khachhang") {

                var trangThaiId = item1["TrangThaiId"];
                var trangThaiHang = item1["TrangThaiHang"];

                if (((trangThaiId == 2) || (trangThaiId == 3) || (trangThaiId == 11) || (trangThaiId == 12) || (trangThaiId == 13) || (trangThaiHang == 1) || (trangThaiHang == 5)) && (trangThaiHang != 6)) {

                    $('tr[data-uid="' + item1.uid + '"] ').css("color", "red");

                } else if (((trangThaiId == 1) || (trangThaiId == 4) || (trangThaiId == 5) || (trangThaiHang == 2) || (trangThaiHang == 3) || (trangThaiHang == 4)) && (trangThaiHang != 6)) {

                    //$('tr[data-uid="' + item1.uid + '"] ').css("color", "#f5f5f5");


                } else {

                    $('tr[data-uid="' + item1.uid + '"] ').css("color", "#30c60f");

                }
                //td: eq(13)


            } else if (gridName == "#grid-datchotruoc") {

                //--- Check giành cho cuộc gọi đặt trước.
                var gviewTruoc = $("#grid-datchotruoc").data("kendoGrid");
                var dataTruoc = gviewTruoc.dataSource.data();

                for (var i = 0; i < dataTruoc.length; i++) {
                    var item = dataTruoc[i];
                    var trangThaiHang = item["TrangThaiHang"];

                    if ((trangThaiHang == 1) || (trangThaiHang == 5)) {

                        $('tr[data-uid="' + item.uid + '"] ').css("color", "red");

                    } else if (trangThaiHang == 6) {

                        $('tr[data-uid="' + item.uid + '"] ').css("color", "#30c60f");
                    }
                }
            }
        }

        //_Hiển thị thông báo lỗi ngay trên popup.
        function showErrorInPopup(message) {
            $("#ErrorMessage").show();
            document.getElementById("ErrorMessage").innerHTML = message;
        }

    </script>

</body>
</html>
