<div id="headmenu">
    <div id="megaStore">
        <ul id="menu">
            <li><a href="@Url.Action("Index","Roles",new { Area="AdminLinja" })">Phân Quyền</a></li>
            <li>
             Danh mục
                <ul>
                    <li><a href="@Url.Action("Index","QuanHuyen",new { Area="AdminLinja" })">Quận Huyện</a></li>                    
                    <li><a href="@Url.Action("Index","Tag",new { Area="AdminLinja" })">Thẻ Tag</a></li>
                </ul>
            </li>            
            <li>
               Sản phẩm
                <ul>
                    <li><a href="@Url.Action("Index","DanhMuc",new { Area="AdminLinja" })">Chuyên mục</a></li>
                    <li><a href="@Url.Action("Index","SanPham",new { Area="AdminLinja" })">Sản phẩm</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index","Blog",new { Area="AdminLinja" })">Bài Viết</a></li>            
        </ul>
    </div>

    <script>
            $(document).ready(function() {
                $("#menu").kendoMenu();
            });
    </script>
</div>

